<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <link rel='stylesheet' href='{% static 'vendor/css/bootstrap/bootstrap.min.css' %}' />
    <title>Signup</title>
  </head>
  <body class="body">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12 col-md-6 mx-auto">
            <form method = 'post' enctype="multipart/form-data">
              {% csrf_token %}
                <fieldset class="form-group">
                  {{signup_form}}
                </fieldset>
                <input type ="submit" class = "btn btn-secondary w-100" value = "Signup">
            </form>

        </div>
      </div>
    </div>

  </body>
</html>
